<!DOCTYPE html>
<html>
<head>
    <title>WELCOME TO HITLERchan</title>
    <link rel="stylesheet" type="text/css" href="./static/home.css">
</head>
<body >
    <button id="title" onclick="window.location.href = '/';">WELCOME TO MemeCoin (Totally Not a Scam)</button>
    <br>
    <br>
    
    <button id="button-1" onclick="window.location.href = '/add';">Add</button>
    <button id="button-2" onclick="window.location.href = '/valid';">Valid</button>
    <button id="button-3" onclick="window.location.href = '/get_chain';">Display</button>
    <button id="button-4" onclick="window.location.href = '/mine_block';">Mine</button>
    <button id="button-5" onclick="window.location.href = '/meddle';">Meddle</button>

    
</body>
</html>