<!DOCTYPE html>
<html>
<head>
    <title>Input Page</title>
    <link rel="stylesheet" type="text/css" href="./static/home.css">
</head>
<body>
    <form action="/" method="POST" href="./static/home.css">
        <button id="title" onclick="window.location.href = '/';">WELCOME TO MemeCoin (Totally Not a Scam)</button>
        <br>
        <br>
        <label for="sender">Sender :</label>
        <input type="text" id="input1" name="sender"><br><br>
        
        <label for="recepient">Recepient :</label>
        <input type="text" id="input2" name="recepient"><br><br>
        
        <label for="amount">Amount :</label>
        <input type="text" id="input3" name="amount"><br><br>
        
        <input type="submit" value="Submit">
    </form>

    

</body>
</html>